.section-about {
  padding: 5rem 0;
  //   background: $secondary-color;
  text-align: center;
  // .about-heading {
  //   font-size: 7rem;
  //   background-color: $tertiary-color;
  //   color: $primary-color;
  //   display: inline-block;
  //   padding: 2rem;
  //   margin: 5rem 0;
  //   text-transform: uppercase;
  //   border-radius: 5px;
  // }

  .about-para {
    font-size: 2rem;
    padding: 2rem;
    text-align: justify;
    &:not(:last-child) {
      padding-bottom: 2rem;
    }
  }
  .about-image {
    width: 100%;
  }
}
.heading {
  font-size: 7rem;
  background-color: $tertiary-color;
  color: $primary-color;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 5rem 0;
  text-transform: uppercase;
  border-radius: 5px;
}
